.text-element {
  --delay: 0s;
  /* position: absolute; */
  width: calc(100% - 4vw);
  left: 100%;
  opacity: 0;
  white-space: nowrap;
  font-family: system-ui, sans-serif;
  animation: slide-in var(--anim-duration) ease-out var(--delay) forwards;
  transform: translateZ(0); /* Запуск GPU acceleration */
  z-index: 1;
  text-wrap: wrap;
  color: var(--text-color);
  line-height: normal;
}
.image-element {
  --delay: 0s;
  position: absolute;
  left: 100%;
  opacity: 0;
  white-space: nowrap;
  font-family: system-ui, sans-serif;
  animation: rotate-in var(--anim-duration) ease-out var(--delay) forwards;
  transform: translateZ(0); /* Запуск GPU acceleration */
}

.title {
  top: 10%;
  font-size: clamp(1rem, 3vmin, 2.5rem);  
  --delay: 0s;
}

.subtitle {
  top: 25%;
  font-size: clamp(0.8rem, 2vmin, 2rem);
  --delay: var(--anim-duration);
}

.content {
  top: 40%;
  font-size: clamp(0.8rem, 2vmin, 2rem);
  --delay: calc(var(--anim-duration) * 2);
}

.thought {
  top: 60%;
  font-size: clamp(0.67rem, 1.6vmin, 1.5rem);
  --delay: calc(var(--anim-duration) * 2.5);
  background: #ffffff2e;
  padding: 10px;
  border-radius: 10px;
  box-sizing: border-box;
  font-style: italic;
}
.bolder { 
  font-weight: 600;
  text-decoration: underline;
}

UL {
  margin: 5px;
}

.square-left {
  position: absolute;
  width: var(--square-size);
  height: var(--square-size);
  left: 100%;

  transform-origin: center;
  will-change: transform;
  bottom: 50%;
  background-size: contain;
}

.square-right {
  position: absolute;
  width: var(--square-size);
  height: var(--square-size);
  right: 100%;

  transform-origin: center;
  will-change: transform;
  top: 50%;
  background-size: contain;
}
.square-right:before,
.square-left:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: #9e21aa;
  mix-blend-mode: multiply;
  z-index: 0;
}

.mend {
  animation: slide-rotate-to-left var(--anim-duration) ease-out
    calc(var(--anim-duration) * 3) forwards;
  --delay: calc(var(--anim-duration) * 3);
  bottom: 0;
}
.flusk {
  animation: slide-rotate-to-right var(--anim-duration) ease-out
    calc(var(--anim-duration) * 4) forwards;
  --delay: calc(var(--anim-duration) * 4);
  top: 0;
}

@keyframes slide-in {
  from {
    transform: translateX(80vw);
    opacity: 0;
  }
  to {
    transform: translateX(2vw);
    opacity: 1;
  }
}

@keyframes slide-rotate-to-left {
  from {
    transform: translateX(0) rotate(-180deg);
    opacity: 0;
  }
  to {
    transform: translateX(-78vw) rotate(0deg);
    opacity: 1;
  }
}

@keyframes slide-rotate-to-right {
  from {
    transform: translateX(0) rotate(-180deg);
    opacity: 0;
  }
  to {
    transform: translateX(78vw) rotate(0deg);
    opacity: 1;
  }
}
